* {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html {
    text-align: center;
    background-image: url("img/bg.png");
    background-repeat: repeat;
    background-color: #111;
}

button {
    border: 2px solid rgb(0, 195, 255);
    font-size: 25px;
    background-color: #111;
}

h1 {
    font-size: 100px;
    margin: 0;
}

#startButton {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}


#startButton:hover {
    background-color: rgb(86, 125, 255);
}


#gameCanvas {
    border: 2px solid rgb(0, 195, 255);
    max-width: 99vw;
    max-height: 80vh;
    width: auto;
    height: auto;
}